@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure want to delete user?</h2>
<form method="post">
    <input type="submit" value="Yes" class="btn btn-danger" />
    <a href="/myuser/index">Cancel</a>
</form>